.homepage {
    &__section{

        height: 100vh;
        width: 100vw;
        overflow: hidden;
        object-position: center;
        

    }
    &__image{
        width: 100%;
        object-position: center;
        object-fit: cover;
        height: 100vh;
    }
    &-block {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        background-size: cover;
        background-position: center;

        @media (max-width: 675px) {
        }
    }

    &-name {
        text-transform: uppercase;
        font-size: 40px;
        font-family: "Sarala", sans-serif;
        margin-bottom: 100px;
        letter-spacing: 1px;
        line-height: 1.25;
    }

    &-title {
        color: white;

        h3 {
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }
}
